.reveal span.lowercase {
    text-transform: lowercase;
}

.reveal #comalatech-logo img {
    border: 0;
    background: none;
    box-shadow: none;
    margin: 0;
    height: 50%;
}

.reveal table {
    font-size: .7em;
}

.reveal h3#serverless-computing + p + table {
    font-size: .6em;
}